@tailwind base;
@tailwind components;
@tailwind utilities;


 
.testFontWrapper {
  font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

@font-face {
  font-family:Creepster;
  src: url(/Creepster/Creepster-Regular.ttf);
}
 
.Creepster {
  font-family: Creepster;
  font-size: 1.5rem;
}
